---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BURST | Astro Code">
	<div class="grid gap-4 grid-cols-2 mb-10">
		<h1 class="font-nunito text-3xl">~ Hogar</h1>
	</div>
	<section class="grid gap-10 grid-cols-1 sm:grid-cols-3">
		<article class="flex flex-row border rounded-lg bg-slate-800 ">
			<aside class="basis-1/3">
				<img class="rounded-lg" src="https://walter.trakt.tv/images/shows/000/201/357/posters/thumb/4a1398feb0.jpg.webp" alt="Imagen">
			</aside>
			<main class="basis-2/3 flex flex-col text-center justify-center py-3">
				<header>
					<h1 class="font-nunito font-bold border-b-2 mx-6">ZOM 100 Bucket list of the dead</h1>
				</header>
				<main>
					<ul>
						<li>
							categori
						</li>
						<li>
							categori
						</li>
						<li>
							categori
						</li>
						<li>
							categori
						</li>
						<li>
							categori
						</li>
					</ul>
				</main>
			</main>
		</article>
	</section>
</Layout>
